.receita__container {
  background: #fdfdfd;

  display: flex;
  flex-direction: column;

  margin-bottom: 5rem;
  /* margin-right: 5rem; */

  /* width: 25%; */
  /* width: calc(25% - 5rem); */

  box-sizing: border-box;
}


@media screen and (min-width: 0) {
  .receita__container {
    margin-right: 1rem;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .receita__container {
    margin-right: 2.5rem;
    width: calc(33% - 2.5rem)
  }
}

@media screen and (min-width: 992px) {
  .receita__container {
    margin-right: 5rem;
    width: calc(25% - 5rem);
  }
}